name: Tests

on: [push, pull_request]

jobs:
  unit-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9', '3.10', '3.11', 'pypy-3.8']
        os: [ubuntu-20.04, macos-latest, windows-latest]
        exclude:
          - os: windows-latest
            python-version: '3.6'
          - os: windows-latest
            python-version: '3.11'
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: |
            setup.py
            **/*requirements.txt
            tox.ini

      - name: Install pip
        run: python -m pip install --upgrade --disable-pip-version-check "pip>=21.1"

      - name: Install dependencies
        run: make setup-ci

      - name: Run tests
        env:
          PYTEST_DISCORD_WEBHOOK: ${{ secrets.PYTEST_DISCORD_WEBHOOK }}
        run: tox -e py

  run-coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']
        os: [ubuntu-latest, macos-latest, windows-latest]
    timeout-minutes: 20
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: |
            setup.py
            **/*requirements.txt
            tox.ini

      - name: Setup env
        run: echo "COVERAGE_FILE=.coverage_${{ matrix.os }}_${{ matrix.python-version }} " >> $GITHUB_ENV

      - name: Install dependencies
        run: make setup-ci

      - name: Run tests
        run: tox -e cov

      - run: ls -a

      - uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: .coverage_*

  upload-coverage:
    needs: run-coverage
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v3

      - uses: actions/download-artifact@v3
        with:
          name: coverage
          path: artifact

      - name: List artifacts
        working-directory: artifact
        run: |
          set -x

          pwd
          ls -alR

      - name: Install packages
        run: python -m pip install --upgrade --disable-pip-version-check coveralls tomli

      - name: Combine coverage reports
        run: |
          coverage combine artifact/.coverage_*
          ls -alR

      - name: Upload coverage report
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: coveralls --service=github
